<h1 class="text-h1">Controle de Fornecedores</h1>
<div class="panel panel-default">
    <div class="panel-heading">Fornecedores cadastrados</div>
    <div class="panel-body">
        <p ng-if="fornecedores.length == 0" class="text-danger">Não há fornecedores cadastrados! :)</p>
        
        <input type="text" class="form-control input-busca" ng-model="criterioBusca" placeholder="Nome do fornecedor" />
        
        <table ng-if="fornecedores.length > 0" class="table table-striped table-condensed">
            
            <thead>
                <tr>
                    <th></th>
                    <th><a href="" ng-click="ordernarPor('nomefantasia')" class="title-col">Nome fantasia</a></th>
                    <th><a href="" ng-click="ordernarPor('cidade')" class="title-col">Cidade</a></th>
                    <th><a href="" ng-click="ordernarPor('estado')" class="title-col">Estado</a></th>
                </tr>
            </thead>
            
            <tbody>
                <tr ng-class="{selecionado: fornecedor.selecionado}" ng-repeat="fornecedor in fornecedores | filter:{nomefantasia: criterioBusca}  | orderBy: criterioOrdenacao:direcaoOrdenacao">
                    <td>
                        <input type="checkbox" ng-model="fornecedor.selecionado" />
                    </td>
                    <td>{{ fornecedor.nomefantasia }}</td>
                    <td>{{ fornecedor.cidade }}</td>
                    <td>{{ fornecedor.estado }}</td>
                </tr>
            </tbody>
            
        </table>
        
        <button class="btn btn-danger pull-right" ng-if="isSelecionado(fornecedores)" ng-click="remover(fornecedores)">Remover Selecionado(s)</button>
        
    </div>
    
    <div class="panel-footer">
        <h3 class="text-h1">Adicionar Fornecedor</h3>
        <form name="fornecedorForm">
            
            <input type="text" class="form-control" placeholder="Nome do Fornecedor" ng-model="fornecedor.nomefantasia" ng-required="true" ng-minlength="3" ng-maxlength="250" name="nomefantasia" />
            <div class="msg-error" ng-show="fornecedorForm.nomefantasia.$dirty && fornecedorForm.nomefantasia.$invalid">
                <small ng-show="fornecedorForm.nomefantasia.$error.required">* Campo obrigatório</small>
                <small ng-show="fornecedorForm.nomefantasia.$error.minlength">* O campo deve ter mais de 3 caracteres</small>
                <small ng-show="fornecedorForm.nomefantasia.$error.maxlength">* O campo deve ter menos de 30 caractesres</small>
            </div>
            
            <div class="row">
                
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Cidade" ng-model="fornecedor.cidade" ng-required="false" ng-minlength="3" ng-maxlength="100" name="cidade"/>
                    <div class="msg-error" ng-show="fornecedorForm.cidade.$dirty && fornecedorForm.cidade.$invalid">
                        <small ng-show="fornecedorForm.cidade.$error.minlength">* O campo deve ter mais de 3 caracteres</small>
                        <small ng-show="fornecedorForm.cidade.$error.maxlength">* O campo deve ter menos de 30 caractesres</small>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Estado" ng-model="fornecedor.estado" ng-required="false" ng-minlength="3" ng-maxlength="250" name="estado"/>
                    <div class="msg-error" ng-show="fornecedorForm.estado.$dirty && fornecedorForm.estado.$invalid">
                        <small ng-show="fornecedorForm.estado.$error.minlength">* O campo deve ter mais de 3 caracteres</small>
                        <small ng-show="fornecedorForm.estado.$error.maxlength">* O campo deve ter menos de 250 caractesres</small>
                    </div>
                </div>
                
            </div>
            
        </form>
        
        <button class="btn btn-primary btn-block" ng-click="salvarFornecedor(fornecedor)" ng-disabled="fornecedorForm.$invalid">Adiconar Fornecedor</button>
        
    </div>
</div>
        