<h1>Cadastro de Grupos</h1>
<div class="panel panel-default">
    <div class="panel-heading">Listagem de Grupos</div>
    <div class="panel-body">
        <p ng-if="grupos.length == 0" class="text-danger">Não existem registros para serem exibidos!</p>
        <input type="text" class="form-control input-busca" ng-model="criterioBusca" placeholder="O que você está buscando?" />
        <table ng-if="grupos.length > 0" class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th><a href="" ng-click="ordenarPor('nome')">Nome do Grupo</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{selecionado: grupo.selecionado}" ng-repeat="grupo in grupos | filter:{nome: criterioBusca}  | orderBy: criterioOrdenacao:direcaoOrdenacao">
                    <td><input type="checkbox" ng-model="grupo.selecionado" /></td>
                    <td>{{ grupo.nome }}</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-danger pull-right" ng-click="remover(grupos)" 
                        ng-if="isSelecionado(grupos)">Remover Selecionado(s)</button>
    </div>
    <div class="panel-footer">
        <h3>Adicionar Grupo</h3>
        <form name="grupoForm">
            <input type="text" class="form-control" placeholder="Nome do Grupo" ng-model="grupo.nome" ng-required="true" ng-minlength="3" ng-maxlength="30" name="nome" />
            <div class="msg-error" ng-show="grupoForm.nome.$dirty && grupoForm.nome.$invalid">
                <small ng-show="grupoForm.nome.$error.required">* Campo obrigatório</small>
                <small ng-show="grupoForm.nome.$error.minlength">* O campo deve ter mais de 3 caracteres</small>
                <small ng-show="grupoForm.nome.$error.maxlength">* O campo deve ter menos de 30 caractesres</small>
            </div>            
        </form>
        <button class="btn btn-primary btn-block" ng-click="adicionar(grupo)" ng-disabled="grupoForm.$invalid">Adiconar Grupo</button>
    </div>
</div>
        