<h1>Cadastro de Produtos</h1>
<div class="panel panel-primary">
    <div class="panel-heading">Listagem de Produtos</div>
    <div class="panel-body">
        <p ng-if="produtos.length == 0" class="text-danger">Não existem registros para serem exibidos!</p>
        <input type="text" class="form-control input-busca" ng-model="criterioBusca" placeholder="O que você está buscando?" />
        <table ng-if="produtos.length > 0" class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <a href="" ng-click="ordenarPor('nome')">Nome do Produto</a>
                    </th>
                    <th width="100px">
                        <a href="" ng-click="ordenarPor('grupo')">Grupo</a>
                    </th>
                    <th width="50px" class="text-center">Qtdade.</th>
                    <th width="100px" class="text-right">
                        <a href="" ng-click="ordenarPor('preco')">Preço</a>
                    </th>
                    <th>Data Inc.</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{selecionado: produto.selecionado}" ng-repeat="produto in produtos | filter:{nome: criterioBusca}  | orderBy: criterioOrdenacao:direcaoOrdenacao">
                    <td>
                        <input type="checkbox" ng-model="produto.selecionado" />
                    </td>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.grupo.nome | uppercase }}</td>
                    <td class="text-center">{{ produto.qtdade }}</td>
                    <td class="text-right">{{ produto.preco | currency }}</td>
                    <td>{{ produto.dtinclusao | date }}</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-danger pull-right" ng-click="remover(produtos)" 
                        ng-if="isSelecionado(produtos)">Remover Selecionado(s)</button>
    </div>
    <div class="panel-footer">
        <h3>Adicionar Produto</h3>
        <form name="produtoForm">
            <input type="text" class="form-control" placeholder="Nome do Produto" ng-model="produto.nome" ng-required="true" ng-minlength="3" ng-maxlength="30" name="nome" />
            <div class="msg-error" ng-show="produtoForm.nome.$dirty && produtoForm.nome.$invalid">
                <small ng-show="produtoForm.nome.$error.required">* Campo obrigatório</small>
                <small ng-show="produtoForm.nome.$error.minlength">* O campo deve ter mais de 3 caracteres</small>
                <small ng-show="produtoForm.nome.$error.maxlength">* O campo deve ter menos de 30 caractesres</small>
            </div>
            <select class="form-control" ng-model="produto.grupo" ng-options="grupo.nome for grupo in grupos" ng-required="true" name="grupo">
                <option value="">Selecione um Grupo</option>
            </select>
            <div class="msg-error" ng-show="produtoForm.grupo.$dirty && produtoForm.grupo.$invalid">
                <small ng-show="produtoForm.grupo.$error.required">* Campo obrigatório</small>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="number" class="form-control" placeholder="Qtdade." ng-model="produto.qtdade" ng-required="true" name="qtdade"/>
                    <div class="msg-error" ng-show="produtoForm.qtdade.$dirty && produtoForm.qtdade.$invalid">
                        <small ng-show="produtoForm.qtdade.$error.required">* Campo obrigatório</small>
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="number" class="form-control" placeholder="Preço" ng-model="produto.preco" ng-required="true" name="preco"/>
                    <div class="msg-error" ng-show="produtoForm.preco.$dirty && produtoForm.qtdade.$invalid">
                        <small ng-show="produtoForm.preco.$error.required">* Campo obrigatório</small>
                    </div>
                </div>
            </div>
        </form>
        <button class="btn btn-primary btn-block" ng-click="adicionar(produto)" ng-disabled="produtoForm.$invalid">Adiconar Produto</button>
    </div>
</div>
        