<h1 class="text-h1">Controle de Produtos</h1>
<div class="panel panel-default">
    <div class="panel-heading">Produtos cadastrados</div>
    <div class="panel-body">
        <p ng-if="produtos.length == 0" class="text-danger">Não há produtos cadastrados! :)</p>
        
        <input type="text" class="form-control input-busca" ng-model="criterioBusca" placeholder="Nome do produto" />
        
        <table ng-if="produtos.length > 0" class="table table-striped table-condensed">
            
            <thead>
                <tr>
                    <th></th>
                    <th><a href="" ng-click="ordernarPor('descricao')" class="title-col">Descricao</a></th>
                    <th><a href="" ng-click="ordernarPor('marca')" class="title-col">Marca</a></th>
                    <th>Fornecedor</th>
                </tr>
            </thead>
            
            <tbody>
                <tr ng-class="{selecionado: produto.selecionado}" ng-repeat="produto in produtos | filter:{descricao: criterioBusca}  | orderBy: criterioOrdenacao:direcaoOrdenacao">
                    <td>
                        <input type="checkbox" ng-model="produto.selecionado" />
                    </td>
                    <td>{{ produto.descricao }}</td>
                    <td>{{ produto.marca }}</td>
                    <td>{{ produto.fornecedor.nomefantasia }}</td>
                </tr>
            </tbody>
            
        </table>
        
        <button class="btn btn-danger pull-right" ng-if="isSelecionado(produtos)" ng-click="remover(produtos)">Remover Selecionado(s)</button>
        
    </div>
    
    <div class="panel-footer">
        <h3 class="text-h1">Adicionar Produto</h3>
        <form name="produtoForm">
            
            <input type="text" class="form-control" placeholder="Descrição" ng-model="produto.descricao" ng-required="true" ng-minlength="3" ng-maxlength="250" name="descricao" />
            <div class="msg-error" ng-show="produtoForm.descricao.$dirty && produtoForm.descricao.$invalid">
                <small ng-show="produtoForm.descricao.$error.required">* Campo obrigatório</small>
                <small ng-show="produtoForm.descricao.$error.minlength">* O campo deve ter mais de 3 caracteres</small>
                <small ng-show="produtoForm.descricao.$error.maxlength">* O campo deve ter menos de 30 caractesres</small>
            </div>
            
            <div class="row">
                
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Marca" ng-model="produto.marca" ng-required="false" ng-minlength="3" ng-maxlength="100" name="marca"/>
                    <div class="msg-error" ng-show="produtoForm.marca.$dirty && produtoForm.marca.$invalid">
                        <small ng-show="produtoForm.marca.$error.minlength">* O campo deve ter mais de 3 caracteres</small>
                        <small ng-show="produtoForm.marca.$error.maxlength">* O campo deve ter menos de 30 caractesres</small>
                    </div>
                </div>
            
                <div class="col-md-6">
                    <select class="form-control edit-text" name="produto" ng-model="produto.fornecedor" ng-options="fornecedor.nomefantasia for fornecedor in fornecedores | orderBy:'fornecedor'" 
                            ng-required="true" ng-controller="FornecedorController">
                        <option value="">Selecione o fornecedor</option>
                    </select>
                    <div class="msg-erro" ng-show="produtoForm.fornecedor.$dirty && produtoForm.fornecedor.$invalid">
                        <small ng-show="produtoForm.fornecedor.$error.required">* Campo obrigatório</small>
                    </div>
                </div>
                
            </div>
            
        </form>
        
        <button class="btn btn-primary btn-block" ng-click="salvarProduto(produto)" ng-disabled="produtoForm.$invalid">Adiconar Produto</button>
        
    </div>
</div>
        